certifi==2020.12.5
cycler==0.10.0
GPUtil==1.4.0
kiwisolver==1.3.1
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.2
olefile==0.46
opencv-python==4.5.1.48
Pillow==8.1.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtChart==5.15.4
PyQtChart-Qt5==5.15.2
python-dateutil==2.8.1
PyYAML==5.4.1
scipy==1.6.1
six==1.15.0
torch==1.5.1
torchvision==0.6.1
tqdm==4.59.0
wincertstore==0.2
